{% extends "base.jinja2" %}

{% block page_title %}{{ title }}{% endblock %}

{% block jumbotron %}
  <h1>{{ website['PAGE_TITLE'] }}</h1>
  <p>{{ website['PAGE_HEADLINE'] }}</p>
  <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">History of printed labels</a></p>-->
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
      <fieldset class="form-group">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Label Size</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="chooser panel-body">
              <label for="labelSize" style="display: none">Label Size:</label>
              <select class="form-control" id="labelSize" onChange="preview()">
                {% for label_size in label_sizes %}<option value="{{label_size[0]}}" {% if label['DEFAULT_SIZE'] == label_size[0] %}selected{% endif %}>{{label_size[1]}}</option>{% endfor %}
              </select>
              </div> <!-- class="chooser panel-body" -->
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                  <span class="glyphicon glyphicon-text-size" aria-hidden="true"></span>
                  Font Settings
                </a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse in">
              <div class="chooser panel-body">
              <label for="fontFamily">Font Family:</label>
              <select class="form-control" id="fontFamily" onChange="preview()">
                {% for font_family_name in font_family_names %}
                  {% for font_style in fonts[font_family_name].keys() %}
                    <option {% if label['DEFAULT_FONTS']['style'] == font_style and label['DEFAULT_FONTS']['family'] == font_family_name %}selected{% endif %}>{{font_family_name}} ({{ font_style }})</option>
                  {% endfor %}
                {% endfor %}
              </select>
              <label for="fontSize" >Font Size:</label>
              <input id="fontSize" class="form-control" type="number" min="1" value="{{ label['DEFAULT_FONT_SIZE'] }}" onChange="preview()" required>

              <label for="fontAlign" class="control-label input-group">Font Alignment:</label>
              <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-default">
                      <input type="radio" name="fontAlign" onchange="preview()" value="left" aria-label="Left Align"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                  </label>
                  <label class="btn btn-default active">
                      <input type="radio" name="fontAlign" onchange="preview()" value="center" aria-label="Center Align" checked=""><span class="glyphicon glyphicon-align-center" aria-hidden="true"></span>
                  </label>
                  <label class="btn btn-default">
                      <input type="radio" name="fontAlign" onchange="preview()" value="right" aria-label="Right Align"><span class="glyphicon glyphicon-align-right" aria-hidden="true"></span>
                  </label>
              </div>
              </div> <!-- class="chooser panel-body" -->
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                  <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                  Detailed Settings
                </a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="chooser panel-body">
              <label for="marginTop">Margin Top:</label>
              <div class="input-group marginsTopBottom">
                <input id="marginTop" class="form-control" type="number" min="0" max="200" value="0" onChange="preview()" required>    <span class="input-group-addon">%</span>
              </div>
              <label for="marginBottom">Margin Bottom:</label>
              <div class="input-group marginsTopBottom">
                <input id="marginBottom" class="form-control" type="number" min="0" max="200" value="0" onChange="preview()" required> <span class="input-group-addon">%</span>
              </div>
              <label for="marginLeft">Margin Left:</label>
              <div class="input-group marginsLeftRight">
                <input id="marginLeft" class="form-control" type="number" min="0" max="200" value="0" onChange="preview()" required>   <span class="input-group-addon">%</span>
              </div>
              <label for="marginRight">Margin Right:</label>
              <div class="input-group marginsLeftRight">
                <input id="marginRight" class="form-control" type="number" min="0" max="200" value="0" onChange="preview()" required>  <span class="input-group-addon">%</span>
              </div>
              </div> <!-- class="chooser panel-body" -->
            
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Grocy Product</a>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="chooser panel-body">
              <label for="printGrocy">Print Grocy Barcode:</label>
              <input type="checkbox" id="printGrocy" 
                      {% if is_checked %}checked{% endif %} 
                      onChange="preview()"> <br>

              <label for="numBarcodeCopies">Number of copies:</label>
              <input id="numBarcodeCopies" class="form-control" type="number" min="1" value="1" onChange="preview()" required>

              <label for="searchBox">Search Item:</label>
              <input id="searchBox" type="text" class="form-control" placeholder="Search Product..." onkeyup="filterList()" onclick="showProductList()">
              <select class="form-control" id="grcyProduct" onChange="preview()">
                {% for grcy_product in grcy_products %}<option value="{{grcy_product[0]}}" {% if label['DEFAULT_SIZE'] == grcy_product[0] %}selected{% endif %}>{{grcy_product[1]}}</option>{% endfor %}
              </select>
              <ul id="grcyProduct_list" class="list-group" style="max-height: 200px; overflow-y: auto; display: none;">
                {% for grcy_product in grcy_products %}
                  <li class="list-group-item" onclick="selectProduct('{{ grcy_product[0] }}', '{{ grcy_product[1] }}')">{{ grcy_product[1] }}</li>
                {% endfor %}
              </ul>

              </div> <!-- class="chooser panel-body" -->
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="col-md-4">
      <fieldset class="form-group">
        <label for="labelText">Label Text:</label>
        <textarea rows="7" id="labelText" class="form-control" onChange="preview()" onInput="preview()"></textarea>
      </fieldset>
    </div>
    <div class="col-md-4">
      <fieldset class="form-group">
        <label for="previewImg">Label Preview:</label><br />
        <img id="previewImg" style="border: 1px solid #444; max-height: 350px; width: auto; max-width: 100%; margin-bottom: 10px;"/>
        <p>Printed size w/o margins: <span id="labelWidth">?</span> cm x <span id="labelHeight">?</span> cm</p>
        <button id="printButton" type="button" class="btn btn-primary btn-block btn-lg" onClick="print()">
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print
        </button>
      </fieldset>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="glyphicon glyphicon-console" aria-hidden="true" style="margin-right: 0.3em"></span> Status</h3>
        </div>
        <div id="statusPanel" class="panel-body">
          - undefined -
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
var text = $('#labelText');

function filterList() {
  const searchValue = document.getElementById('searchBox').value.toLowerCase();
  const items = document.querySelectorAll('#grcyProduct_list li');

  // Zeige die Liste, falls noch nicht sichtbar
  $('#grcyProduct_list').show();

  items.forEach(item => {
    const text = item.textContent.toLowerCase();
    item.style.display = text.includes(searchValue) ? '' : 'none';
  });
}

function selectProduct(grcyProductValue, grcyProductLabel) {
  // Setze den Wert und das Label im Dropdown-Menü
  $('#grcyProduct').val(grcyProductValue);
  $('#grcyProduct option:selected').text(grcyProductLabel);

  // Leere das Suchfeld
  $('#searchBox').val('');
  $('#labelText').val('');

  // Verstecke die Liste nach Auswahl eines Produkts
  $('#grcyProduct_list').hide();
  
  // Rufe die Vorschau erneut auf, um die Änderungen sofort zu reflektieren
  preview();
}

// Zeige die Liste, wenn das Suchfeld angeklickt wird
function showProductList() {
  $('#grcyProduct_list').show();
}

// Verstecke die Liste, wenn das Suchfeld den Fokus verliert
$('#searchBox').on('blur', function() {
  setTimeout(function() {$('#grcyProduct_list').hide();}, 200);  // Ein kleines Timeout, damit das Klicken auf die Liste erkannt wird
});

// Wenn ein Element in der Liste ausgewählt wird, bleibt die Liste sichtbar
$('#grcyProduct_list').on('click', 'li', function() {
  $('#grcyProduct_list').hide();
});

function formData() {
  //var text = $('#labelText').val().replace(/\n/g, "%0A");

  var text = $('#labelText').val();
  if (text == '') text = ' ';

  var grcyProductValue = $('#grcyProduct option:selected').val();

  return {
    text:        text,
    font_family: $('#fontFamily option:selected').text(),
    font_size:   $('#fontSize').val(),
    label_size:  $('#labelSize option:selected').val(),
    align:       $('input[name=fontAlign]:checked').val(),
    margin_top:    $('#marginTop').val(),
    margin_bottom: $('#marginBottom').val(),
    margin_left:   $('#marginLeft').val(),
    margin_right:  $('#marginRight').val(),
    printGrocy:  $('#printGrocy').prop('checked'),
    numCopies:   $('#numBarcodeCopies').val(),
    grocycode:    'grcy:p:' + grcyProductValue
  }
}

function preview() {
  $('.marginsTopBottom').prop('disabled', false).removeAttr('title');
  $('.marginsLeftRight').prop('disabled', true).prop('title',  'Only relevant if rotated orientation is selected.');
  $.ajax({
    type:        'POST',
    url:         '/api/preview/text?return_format=base64',
    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
    data:        formData(),
    success: function( data ) {
      $('#previewImg').attr('src', 'data:image/png;base64,' + data);
      var img = $('#previewImg')[0];
      img.onload = function() {
        $('#labelWidth').html( (img.naturalWidth /300*2.54).toFixed(1));
        $('#labelHeight').html((img.naturalHeight/300*2.54).toFixed(1));
      };
    }
  });
}

function setStatus(data) {
  if (data['success'])
    $('#statusPanel').html('<div id="statusBox" class="alert alert-success" role="alert"><i class="glyphicon glyphicon-check"></i><span>Printing was successful.</span></div>');
  else
    $('#statusPanel').html('<div id="statusBox" class="alert alert-warning" role="alert"><i class="glyphicon glyphicon-alert"></i><span>Printing was unsuccessful:<br />'+data['message']+'</span></div>');
  $('#printButton').prop('disabled', false);
}

function print() {
  $('#printButton').prop('disabled', true);
  $('#statusPanel').html('<div id="statusBox" class="alert alert-info" role="alert"><i class="glyphicon glyphicon-hourglass"></i><span>Processing print request...</span></div>');
  $.ajax({
    type:     'POST',
    dataType: 'json',
    data:     formData(),
    url:      '/api/print/text',
    success:  setStatus,
    error:    setStatus
  });
}

preview()

{% endblock %}
